@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 25rem;
    background-color: rgb(203, 203, 255);
    padding: 2rem;
    margin: 12rem auto 12rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: .5vw .5vw .3vw rgb(5, 5, 39), inset .1vw 0vw .2vw white, 1vw 1vw .2vw rgb(101, 101, 135); 
    border-radius: 8px;
}

h2{
    width: 20rem;
}

.input-box{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

input{
    padding: 10px 20px;
}

button{
    margin-top: 1rem;
    padding: 10px;
    background-color:rgb(5, 5, 39) ;
    color: white;
    border: 2px solid white;
}

@media (width < 992px){
    .wrapper{
        width: 17rem;
    }
    h2{
        width: 12rem;
        font-size: 16px;
    }
}


